@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
    @apply bg-gradient-to-r from-blue via-teal to-teal text-transparent bg-clip-text ;
}
.primary-gradient-btn{
    @apply bg-200% bg-primary-gradient;
}

.primary-text{
    @apply bg-200% text-transparent bg-primary-gradient bg-clip-text;
}

body {
 @apply font-noto_sans;
}

.cursor-animate{
    animation: cursor 1s infinite;
}

@keyframes cursor {
    to{
        opacity: 0;
    }
}

.picture-anime{
    animation: picture-anime 1.5s infinite alternate;
    @apply transition-all;
}

@keyframes picture-anime {
    from{
        transform: translateY(-8px);
    }
    to{
        transform: translateY(8px)
    }
}

.sticky-bar{
    @apply fixed z-[5] top-0 left-0 w-full mt-0 border-b border-b-on_light_border dark:border-b-on_dark_border;
    animation: fadeInDown 0.7s ease-in-out forwards;
}

@keyframes fadeInDown {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* home page */
.home-cover{
    @apply dark:bg-on_dark_body_bg bg-on_light_body_bg  relative overflow-hidden
    before:content-[""] before:w-[500px] before:h-full before:bg-cover before:bg-no-repeat before:absolute before:top-0 
    before:-left-20 before:bg-shadow transition-colors
    after:content-[""] after:w-full after:h-full after:top-0 after:left-0 after:bg-[100%] after:bg-no-repeat after:absolute  after:bg-shadow-2;
}
.subscribe-form{
    @apply relative md:w-[400px] gap-4 rounded flex items-center p-[10px] bg-on_light_body_bg dark:bg-on_dark_bg_2 mt-8
    before:rounded before:content-[""] before:absolute before:top-[-1px] before:left-[-1px]
    before:right-[-1px] before:bottom-[-1px] before:z-[-1] before:bg-primary-gradient transition-colors;
}

.social-links{
    @apply w-[50px] h-[50px] text-white bg-[#708ab0] dark:bg-on_dark_bg_2  
    flex items-center justify-center text-2xl rounded-full
     transition-all cursor-pointer hover:bg-gradient-to-r hover:from-blue hover:via-teal
     hover:to-blue hover:bg-200% hover:via-50% hover:-translate-y-1 duration-300;

}

.section-title{
    @apply gradient-text font-bold pb-[10px] relative inline-block
     after:absolute after:w-[110%]  after:h-0.5 
    mb-6 after:bg-primary-gradient
    after:bottom-0 after:left-0;
}

/* breadcrumb */
.breadcrumb-links{
    @apply inline-flex items-center text-sm dark:text-on_text_gray_2 hover:text-blue transition-colors
    text-[#667085] dark:hover:text-blue;
}
/* login */
.form-separator{
    @apply text-center my-6 relative before:absolute before:w-[80%] before:h-[1px] before:bg-[#c2d4ee] dark:before:bg-on_dark_border
    before:top-2/4 before:left-2/4 before:-translate-y-2/4 before:-translate-x-2/4;
}

/* google map */
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;}
.gmap_iframe {height:400px!important;}

/* dnd upload file */
.dnd-upload-wrapper{
    @apply  cursor-pointer mt-4 w-full min-h-[160px] border-dashed border
    border-on_dark_border flex items-center justify-center transition-all 
    [&.dragging]:border-solid [&.dragging]:opacity-60;
}
/* editor */
.editor-custom .editor-toolbar.fullscreen{
    @apply h-[110px] xs:h-20 lg:h-[50px];
}

.editor-custom .EasyMDEContainer .CodeMirror-fullscreen{
    @apply top-[110px] xs:top-[80px] lg:top-[50px];
}
.editor-custom .editor-preview-side{
    @apply top-[110px] xs:top-[80px] lg:top-[50px] z-[4];
}

.editor-custom .EasyMDEContainer .CodeMirror-fullscreen ~ .editor-preview-side{
    @apply z-[9];
}


.dark .editor-custom .editor-toolbar.fullscreen{
    @apply bg-on_dark_body_bg text-white;
}
.dark .editor-custom .EasyMDEContainer .CodeMirror-fullscreen{
    @apply bg-on_dark_card_bg text-white;
}

.dark .editor-custom .editor-toolbar{
    @apply border-t border-l border-r border-on_dark_border;
}

.dark .EasyMDEContainer .CodeMirror{
    @apply border-on_dark_border;
}

.dark .CodeMirror{
    @apply bg-on_dark_card_bg text-white;
}

.dark .CodeMirror-cursor{
    @apply border-white;
}

.dark .CodeMirror-gutters{
    @apply bg-on_dark_body_bg border-on_dark_border;
}

.dark .CodeMirror-linenumber{
    @apply text-on_text_gray_2;
}

.dark .editor-toolbar button.active,
.dark .editor-toolbar button:hover{
    @apply bg-on_dark_bg_2 border-on_text_gray_2;
}

.dark .editor-preview{
    @apply bg-on_dark_card_bg text-white border-on_dark_border;
}

.blog-content iframe,
.editor-preview iframe{
    @apply w-full aspect-video;
}

.blog-content ul,
.editor-preview ul,
.blog-content ol,
.editor-preview ol{
    @apply list-outside pl-4;
}

.blog-content ul ul,
.editor-preview ul ul,
.blog-content ol ol,
.editor-preview ol ol{
    @apply list-outside pl-10;
}


.blog-content ul,
.editor-preview ul{
    @apply list-disc;
}
.blog-content ul ul,
.editor-preview ul ul{
    @apply list-[circle]
}
.blog-content ol,
.editor-preview ol{
    @apply list-decimal;
}
.editor-custom .editor-preview pre{
    @apply mb-0 bg-transparent;
}

/* code block */
.highlight-wrapper pre::-webkit-scrollbar{
    height: 4px;
}

.highlight-wrapper pre::-webkit-scrollbar-thumb{
    @apply rounded-[50px] bg-gray-500;
}

/* comment */
.comment-box .comment-box{
    @apply mt-6 ml-10 md:ml-0;
}
.comment-box .comment-box .comment-head{
   @apply md:ml-10;
}